<!DOCTYPE html>
<html>
<head>
    <link href="bootstrap[united].min_2.css" rel="stylesheet" />
    <link href="StyleSheet1.css" rel="stylesheet" />
    <script src="angular.min.js"></script>
    <script src="jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Tyres | Search</title>
</head>
<body ng-app="myApp">
    <div class="text-center">
        <h1 id="shop-title" class="bg-light">The Tyre Sh<img src="â--Pngtreeâ--alloy wheel. car rims illustration_4773523.png" alt="shop_logo" id="logo" />P</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">The Tyre Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Tyres <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-left float-right">
                <li class="nav-item">
                    <a class="nav-link" href="SaleHistory.html"><i class="fa fa-history"></i> Sale History</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" ng-controller="getCtrl" ng-init="myError='1'">
        <div class="alert alert-dismissible alert-warning" ng-hide="myError">
            <button class="close" type="button" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Error!</h4>
            <p class="mb-0"> {{error}}</p>
        </div>
        {{msg}}
        <div class="form-group mt-5">
            <select class="custom-select" ng-model="select" ng-change="change()">
                <option value="{{data.TyreId}}" ng-repeat="data in result"> {{data.Brand}} {{data.Size}} </option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" name="name" ng-model="cName" placeholder="Customer Name" class="form-control" />
        </div>
        <div class="form-group">
            <input type="number" class="form-control" ng-model="qty" ng-change="calPrice()" placeholder="Quantity" name="quantity" min="1" max="{{totalQty}}" />
            <p class="text-muted">/ {{totalQty}}</p>
            <input type="submit" ng-click="purchase(select)" value="Sale" class="btn btn-primary" />
        </div>
        <span ng-init="Price='0'">Total Price : {{tPrice}}</span>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('getCtrl', function ($scope, $http) {
            $scope.calPrice = function ()
            {
                if ($scope.qty > $scope.totalQty) {
                    $scope.qty = $scope.totalQty;
                }
                var price = $scope.qty * $scope.Price;
                //alert(price);
                $scope.tPrice = '0';
                $scope.tPrice = price;
            }
            $scope.change = function ()
            {
                var id = $scope.select;
                //alert(id);
                var onsuccess = function (data, status ,headers, config)
                {
                    //console.log(data.Quantity);
                    $scope.totalQty = data.Quantity;
                    $scope.Price = data.Selling_Price;
                }
                var onerror = function (status)
                {
                    $scope.error = "An Error occured while inserting data : " + status;
                    $scope.myError = '0';
                }
                var promise = $http.get('http://localhost:49830/api/Tyres/' + id);
                promise.success(onsuccess);
                promise.error(onerror);
            }
            //post
            $scope.purchase = function (tid)
            {
                //console.log("tid : " + tid + "\n qty : " + $scope.qty + "\n cname : " + $scope.cName);
                var data = { "TyreId": tid, "Quantity": $scope.qty, "CustomerName": $scope.cName, "TransitionDateTime": new Date, "CashReceived": $scope.tPrice, };
                var onsuccess = function (data, statue, headers, config)
                {
                    alert("SUCCESS : Sale made!");
                    var onSuccess = function (data , status, header , config)
                    {
                        var d = { "TyreId": data.TyreId, "Brand": data.Brand, "Country": data.Country, "Size": data.Size, "Condition": data.Condition,"Quantity": data.Quantity - $scope.qty, "Purchase_Price": data.Purchase_Price, "Selling_Price": data.Selling_Price};
                        var p1 = $http.put('http://localhost:49830/api/Tyres/' + tid, d);
                        p1.success(console.log("qty updated in tyres"));
                        p1.error(console.log("error occured in updating tyres"));
                    }
                    var p = $http.get('http://localhost:49830/api/Tyres/' + tid);
                    p.success(onSuccess);
                    p.error(console.log("error occured in getting : "+ tid));
                }
                var onerror = function (data, status, headers, config)
                {
                    $scope.error = "An Error occured while inserting data : " + status;
                    $scope.myError = '0';
                }
                var promise = $http.post('http://localhost:49830/api/Sales', data);
                promise.success(onsuccess);
                promise.error(onerror);
            }
            //get
            var onsuccess = function (data, status, headers, config) {
                $scope.result = data;
            };
            var onerror = function (data, status, headers, config) {
                $scope.error = "An Error occured while loading : " + status;
                $scope.myError = '0';
            };
            var promise = $http.get('http://localhost:49830/api/Tyres');
            promise.success(onsuccess);
            promise.error(onerror);
        });
    </script>
</body>
</html>